<h2>Thêm Product</h2>

<div class="form-card">
    <form [formGroup]="addProduct" (ngSubmit)="submitForm()">
        <div class="form-row">
            <label>Tên</label>
            <input type="text" formControlName="name" />
            
        </div>

        <div class="form-row">
            <label>Gia</label>
            <input type="number" formControlName="price" />
            
        </div>

        <div class="form-row">
            <label>Category</label>
            <input type="text" formControlName="category" />
            
        </div>

        <div class="form-row">
            <label>Views</label>
            <input type="number" formControlName="views" />
            
        </div>

        <button type="submit"  [disabled]="loading">{{ loading ? 'Đang gửi...' : 'Thêm products' }}</button>
    </form>
    @if (success) {
    <p style="color: green">{{ success }}</p>
    } @if (error) {
    <p style="color: red">{{ error }}</p>
    }
</div>